body{
	background: blue;
}

div{
	position: absolute;
	left: 10px;
	right: 10px;
	text-align: center;
	font-family: Times New Roman;
}

#TIA{
	top: 80px;
	color: #EE3;
	font-size: 72px;
}

#clock{
	top: 200px;
	color: white;
	font-size: 130px;
}

#zonecontrol{
	top: 400px;
	color: white;
	font-size: 36px;
}