body{
	background-color: #BBB;
}
.cont{
	position: absolute;
	top: 5px;
	width: 300px;
	height: 520px;
}
.box{
	position: absolute;
	top: 20px;
	width: 300px;
	height: 500px;
	background-color: #FFF;
	border: 2px inset #DDD;
	overflow: auto;
}
.boxtitle{
	width: 100%;
	text-align: center;
}
#cont1{
	left: 5px;
}
#cont2{
	left: 315px;
}
#cont3{
	left: 625px;
}
#startbutton{
	position: absolute;
	top: 530px;
}
ul{
	list-style: disc;
	text-align: left;
}