#cont{
	position:absolute;
	top:5%;
	left:5%;
	overflow:auto;
	border: 2px solid black;
	width: 70%;
	height: 85%;
}

button{
	position:absolute;
	top: 93%;
}

#togglebutton{
	left: 5%;
}

#resetbutton{
	left: 10%;
}

.bluetext{
	color:blue;
}

.greentext{
	color:lime;
}

.redtext{
	color:red;
}

.boldtext{
	font-weight:bold;
}